{% autoescape true %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Event Counter</title>
    <link rel="stylesheet" type="text/css" href="../static/css/event_counter.css">
    <link rel="stylesheet" href="../static/css/themes/green/style.css" type="text/css" media="print, projection, screen" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="../static/javascript/event_counter.js"></script>
    <script type="text/javascript" src="./../static/javascript/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="./../static/javascript/jquery.metadata.js"></script>
	<script type="text/javascript">
        $( document ).ready(function() {
            $("#events").tablesorter();
       });
    </script>
</head>
<body style="background-image: url('../static/images/background.jpg');">
    <h1 class="center">Event Counter</h1>
        <table id="events" class="tablesorter">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Triggered</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in template_values.iteritems() %}
                <tr>
                    <td class="center">{{ key }}</td>
                    <td class="center">{{ value }}</td>
                    <td class="center"><button title="View Detail" class="detail_button" onclick="urlEvents('{{ key }}')"/></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>
{% endautoescape %}